<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Enregistrer un nouveau fichier</h2>
      <div class="storageInMBError" *ngIf="errorStorageSpace">
        {{ errorStorageSpace }}
      </div>
      <div class="storageInMB" *ngIf="!errorStorageSpace"> 
        <span> Stockage :</span>
        <span> {{ availableStorageSize }} MB </span>
      </div>
      <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" id="title"
                 class="form-control" formControlName="title">
        </div>
        <div class="form-group">
          <label>Ajouter un Fichier</label>
          <input type="file" (change)="detectFiles($event)"
                 class="form-control" accept="image/*,.pdf,.doc,video/*,audio/*" />
          <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
          <p class="text-success" *ngIf="fileIsUploading">Fichier en cours de chargement !</p>
        </div>
        <button class="btn btn-success" [disabled]="bookForm.invalid || fileIsUploading"
              type="submit">Enregistrer
        </button>
      </form>
  </div>
</div>