<div class="row">
    <div class="col-xs-12">
      <div class="image-wrapper">
          <img class="icon" *ngIf="num == 1" src="assets/images/pdf.png" />
          <img class="icon" *ngIf="num == 2" src="assets/images/word.jpg" />
          <img class="icon" *ngIf="num == 3" src="assets/images/image.png" />
      </div>
      <h2>{{ book.title }}</h2>
      <h2>liennTelecharg
          <a [href]="book.fileUrl" target="_blank" download>Download</a>
      </h2>
      <p>
        <span>lien de partage :</span>
        <a [href]="book.fbShareLink" target="_blank">
            Share on Facebook 
          </a>
      </p>
      <p> taille : {{book.taille}} MB</p>
      <p>{{book.extension}}</p>
      
      <button class="btn btn-default" (click)="onBack()">Retour</button>
    </div>
  </div>