<div class="row">
    <div class="col-xs-12">
      <h2>Mes Fichiers</h2>
      <div class="list-group">
        <div *ngFor="let book of books; let i = index">
          <button
            *ngIf="book.title !== 'empty'"
            class="list-group-item"
            (click)="onViewBook(i)">
            <h3 class="list-group-item-heading">
              {{ book.title }}
              <button class="btn btn-default pull-right" (click)="onDeleteBook(book)">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </h3>
            <p class="list-group-item-text">
            </p>
          </button>
      </div>
      </div>
      <button class="btn btn-primary" (click)="onNewBook()">Nouveau fichier</button>
    </div>
  </div>