<div>
    <h1>
         Stockez et gérez vos fichiers  dans le cloud   
    </h1>
<div class="ctn">
<img class="imag" src="assets/images/biblio.jpg" />
</div>
<h2>
    Sauvegardez tous vos fichiers
</h2>
<p>
        Quel que soit le type de fichier que vous voulez sauvegarder 
        (photos, présentations PowerPoint ou fichiers word),
         il sera stocké de façon sécurisée grâce aux solutions de stockage cloud.
</p>
<h2>
    Accédez à vos documents où que vous soyez
</h2>
<p>
    Vos fichiers sont accessibles depuis 
    vos appareils, ainsi vous pouvez y accéder où que vous soyez et les gérez comme vous voulez.
    
</p>
<h2>
    Une meilleure gestion de vos fichiers
</h2>
<p>
    Vous pouvez gérez vos fichier avec la façon que vous voulez, vous pouvez les télécharger, les supprimer ou les partager avec vos amis sur Facebook.
        
</p>
<h2>
    Un espace de stockage adapté à vos besoins
</h2>
<p>
    Vous pouvez allouez tant d'espace que vous voulez après avoir consommer les 100 premiers Mo gratuits. 

</p>
</div>
